<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dnote.H5P.Linq.Properties.Settings.Dnote_H5PConnectionString"
            connectionString="Data Source=.;Initial Catalog=Dnote.H5P;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>