@using Dnote.H5P.NetFW.TestWebSite.Models
@using Dnote.H5P.NetFW.TestWebSite.Controllers

@model IndexViewModel
@{
    ViewBag.Title = "H5P Test WebSite";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="jumbotron">
        <h1>H5P Test WebSite</h1>
        <p>H5P Test WebSite for the .NET Framework 4.7.2</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well">
                @Html.DropDownListFor(m => m.Storage, new SelectList(Model.Storages, "Value", "Text", Model.Storage), new { @class = "form-control" })
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2>Uploaded content items</h2>

                @if (!Model.ContentItems.Any())
                {
                    <em>No content items uploaded...</em>
                }

                @foreach (var item in Model.ContentItems)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Html.Raw(Url.Action(nameof(HomeController.Exercise), "Home", new { Id = item, Storage = Model.Storage }))">@item</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2>Add content item</h2>
                <p>Upload a .h5p content item here</p>
                <input type="file" name="File" />
                <button type="submit" class="btn btn-primary pull-right">Upload</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $('#Storage').change(function ()
        {
            document.location = document.location.href.setUrlParam('storage', $('#Storage').val());
        });
    </script>
}